.nested-fields.mt-2
  .form-group
    .field.d-inline
      .card.border-0.mb-3.rounded-0
        .card-header.bg-transparent.border-warning
          %h5
            = Setting.answers.label
            %span.text-danger
            = link_to_remove_association "删除", f, :class => "btn btn-danger btn-sm d-inline pull-right"
        .card-body
          %table.w-100.table-bordered.day-pdt-table.ml-2
            %tbody
            
              %tr
                -#
                  %td.p-2.text-center
                  = f.label Setting.answers.content, :class => "text-center"
                %td.p-2.text-center
                  = f.text_area :content, :class => "form-control", :rows => "10", :required => true 
                
