- if current_user.has_role?(Setting.roles.role_fct)
  = render 'layouts/system_sidebar/fct_sidebar'
- elsif current_user.has_role?(Setting.roles.role_grp)
  = render 'layouts/system_sidebar/grp_sidebar'
- elsif current_user.has_role?(Setting.roles.super_admin)
  = render 'layouts/system_sidebar/admin_sidebar'
